<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/a.ico">
         <run
               class="cosco.vsagent.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="中国远洋船舶代理业务管理系统-个人版(QINGDAO)"
            class="cosco.vsagent.app.ScorePerspective"
            id="cosco.vsagent.app.ScorePerspective">
      </perspective>
   </extension>
   <extension
         id="船代管理"
         name="cosco.vsagent.view"
         point="org.eclipse.ui.views">
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.navigator.NavigatorView"
            icon="icons/project.gif"
            id="cosco.vsagent.navigator.NavigatorView"
            name="功能导航器"
            >
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.score.SearchView"
            icon="icons/project.gif"
            id="cosco.vsagent.score.SearchView"
            name="搜索视图"
            >
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.app.views.WelcomView"
            icon="icons/project.gif"
            id="cosco.vsagent.app.views.WelcomView"
            name="软件介绍">
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.app.views.OpenGLView"
            icon="icons/project.gif"
            id="cosco.vsagent.app.views.OpenGLView"
            name="OPGL">
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.app.views.EdiReceive"
            icon="icons/EDI.ico"
            id="cosco.vsagent.app.views.EdiReceive"
            name="EDI管理">
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.app.views.EdiReceiveUp"
            icon="icons/project.gif"
            id="cosco.vsagent.app.views.EdiReceiveUp"
            name="未接收">
      </view>
      <view
            category="cosco.vsagent.view"
            class="cosco.vsagent.app.views.EdiReceiveSend"
            icon="icons/project.gif"
            id="cosco.vsagent.app.views.EdiReceiveSend"
            name="已发送">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cosco.vsagent.archive.ArchiveEditor"
            default="false"
            icon="icons/editing.gif"
            id="cosco.vsagent.archive.ArchiveEditor"
            name="档案管理">
      </editor>
      <editor
			name="成绩管理"
			icon="icons/editing.gif"
			class="cosco.vsagent.score.ScoreEditor"
			id="cosco.vsagent.score.ScoreEditor">
	  </editor>
      
      <editor
            class="cosco.vsagent.archive.CourseEditor"
            id="cosco.vsagent.archive.CourseEditor"
            name="课程管理">
      </editor>
      <editor
            class="cosco.vsagent.archive.GradeEditor"
            id="cosco.vsagent.archive.GradeEditor"
            name="年级管理">
      </editor>
      <editor
            class="cosco.vsagent.archive.SchoolClassEditor"
            id="cosco.vsagent.archive.SchoolClassEditor"
            name="班级管理">
      </editor>
      <editor
            class="cosco.vsagent.archive.ExamEditor"
            id="cosco.vsagent.archive.ExamEditor"
            name="考试表">
      </editor>
      <editor
            class="cosco.vsagent.base.BasVslMsgEditor"
            default="false"
            id="cosco.vsagent.base.BasVslMsgEditor"
            name="船舶档案管理">
      </editor>
      <editor
            class="cosco.vsagent.base.BasPortEditor"
            id="cosco.vsagent.base.BasPortEditor"
            name="港口资料">
      </editor>
      <editor
            class="cosco.vsagent.ecd.EcdBookingEditor"
            id="cosco.vsagent.ecd.EcdBookingEditor"
            name="出口下货纸">
      </editor>
      <editor
            class="cosco.vsagent.ecd.BasvslvoyEditor"
            icon="icons/wr_support16.gif"
            id="cosco.vsagent.ecd.BasvslvoyEditor"
            name="船期表">
      </editor>
      <editor
            class="cosco.vsagent.base.BasPackageEditor"
            icon="icons/wr_support16.gif"
            id="cosco.vsagent.base.BasPackageEditor"
            name="包装代码">
      </editor>
      <editor
            class="cosco.vsagent.base.BascountryEditor"
            default="false"
            id="cosco.vsagent.base.BascountryEditor"
            name="国家代码">
      </editor>
      <editor
            class="cosco.vsagent.base.BaslineEditor"
            id="cosco.vsagent.base.BaslineEditor"
            name="航线代码">
      </editor>
      <editor
            class="cosco.vsagent.base.BaspaytypeEditor"
            id="cosco.vsagent.base.BaspaytypeEditor"
            name="付费方式">
      </editor>
      <editor
            class="cosco.vsagent.base.BaspartyEditor"
            id="cosco.vsagent.base.BaspartyEditor"
            name="参与方信息">
      </editor>
      <editor
            class="cosco.vsagent.WelcomeEditor"
            id="cosco.vsagent.WelcomeEditor"
            name="软件介绍">
      </editor>
      <editor
            class="cosco.vsagent.base.BaseEdiCodeEditor"
            id="cosco.vsagent.base.BaseEdiCodeEditor"
            name="EDI对照码">
      </editor>
      <editor
            class="cosco.vsagent.ecd.EcdbkcntrEditor"
            id="cosco.vsagent.ecd.EcdbkcntrEditor"
            name="装箱管理">
      </editor>
      <editor
            class="cosco.vsagent.ecd.EcdbkCheckEditor"
            id="cosco.vsagent.ecd.EcdbkCheckEditor"
            name="数据校验">
      </editor>
      <editor
            class="cosco.vsagent.ecd.EcdbookingQueryEditor"
            id="cosco.vsagent.ecd.EcdbookingQueryEditor"
            name="提单查询">
      </editor>
      <editor
            class="cosco.xml.XmlBookingEditor"
            default="false"
            id="cosco.xml.XmlBookingEditor"
            name="提运单[新]">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BaseShipRecordEditor"
            id="com.freqds.base.editorpart.BaseShipRecordEditor"
            name="船舶档案">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BasePartnersEditor"
            id="com.freqds.base.editorpart.BasePartnersEditor"
            name="合作伙伴">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BaseCountryEditor"
            id="com.freqds.base.editorpart.BaseCountryEditor"
            name="国家代码">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BasePortEditor"
            id="com.freqds.base.editorpart.BasePortEditor"
            name="港口代码">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BasePackageEditor"
            id="com.freqds.base.editorpart.BasePackageEditor"
            name="包装代码">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BaseCntrEditor"
            id="com.freqds.base.editorpart.BaseCntrEditor"
            name="箱型代码">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BaseLineEditor"
            id="com.freqds.base.editorpart.BaseLineEditor"
            name="航线代码">
      </editor>
      <editor
            class="com.freqds.base.editorpart.BaseCustomsEditor"
            id="com.freqds.base.editorpart.BaseCustomsEditor"
            name="海关关区代码">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cosco.vsagent.preferences.RootPreferencePage"
            id="cosco.vsagent.preferences.RootPreferencePage"
            name="业务数据管理系统">
      </page>
      <page
            category="cosco.vsagent.preferences.RootPreferencePage"
            class="cosco.vsagent.preferences.DBPreferencePage"
            id="cosco.vsagent.preferences.DBPreferencePage"
            name="客户端数据库">
      </page>
      <page
            category="cosco.vsagent.preferences.RootPreferencePage"
            class="cosco.vsagent.preferences.DBServerPreferencePage"
            id="cosco.vsagent.preferences.DBPreferencePage"
            name="服务器端数据库">
      </page>
      <page
            category="cosco.vsagent.preferences.RootPreferencePage"
            class="cosco.vsagent.preferences.LocalSet"
            id="cosco.vsagent.preferences.DBPreferencePage"
            name="客户端配置">
      </page>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cosco.edi.application"
            name="EDI信息管理系统-专业版(QINGDAO)">
         <property
               name="appName"
               value="EDI信息管理系统-专业版(QINGDAO)">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="EDI信息管理系统-专业版(QINGDAO)&#x0A;联系人：&#x0A;QQ:4546477&#x0A;Email：lvxinzhi@hotmail.com">
         </property>
         <property
               name="windowImages"
               value="icons/report.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="10,270,300,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,250,300,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="cosco.vsagent.console.LogConsoleFactory"
            label="日志">
      </consoleFactory>
      
      <consoleFactory
            class="cosco.vsagent.console.ReportConsoleFactory"
            label="报表输出">
      </consoleFactory>
   </extension>
   
  

</plugin>
